body {
  padding-top: 85px;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif; 
	color: #406c96;
}

.margin_top_30 {
margin-top: 30px;
}

.hightlight_primary {
	background: #406c96;
	color: #fff;
	padding: 5px 25px;
	display: inline;
	line-height: 60px;
	border-radius: 5px;

}

a {
	color: #406c96;
}

.navbar {
	background: #fff;
	min-height: 85px;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif; 
	border: #ccc 1px solid;
	padding-top: 15px;
	text-align: center;
}

.navbar-brand {
	padding: 0;
}

.navbar span {
	font-size: 10px;
	color: #ccc;
	text-align: center;
}

.navbar-nav > li > a {
	padding-bottom: 0px; 
	color: #666;
}
.navbar-nav > li {
	padding-bottom: 5px; 
}

.nav > li > a:hover, .nav> li > a:focus {
	background: none;
}

.navbar li:hover {
	background: #f4f4f4;
	cursor: pointer;
}

.navbar li li {
	padding: 5px 0;
	border-left: 4px solid #f4f4f4; 
}

.navbar li li:hover {
	padding: 5px 0;
	border-left: 4px solid #406c96; 
}

.navbar li.active {
	background: #406c96; 
	color: white;

}

.navbar li.active a {
	color: white;

}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #ddd;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	background:none;
	color:#fff;
}
section {
	padding-bottom: 30px; 
	overflow: hidden;
}

section h1 {
	margin: 30px 0; 
}

.section_default {
	background: #f8f7f8; 
}

.section_primary {
	background: #406c96;
	color: #fff;
}

.section_showcase img {
	width: 100%;
	float: right;
	position: relative;
	margin-right: -500px;
}

.list_feature li {
	list-style: none;
	line-height: 2em;
	padding: 5px;
}

.fa {
	margin-right: 10px;
	color: #406c96;
	font-size: 1.5em;
}

.fa-white {
	color: #fff;
}

.fa-lg {
	font-size: 5em;
}

.content_icons {
	text-align: center;
}
.content_icons h4 {
	color: #fff;
}

.content_icons i {
	display: block;
	margin-bottom: 15px;
	padding: 20px;
}

.content_devices {
	text-align: center;
}

.content_devices img {
	position: relative;
}

.content_devices img #desktop {
	width: 375px;
}
.content_devices img #laptop {
	margin-left: -95px;
	z-index: 100;
	width: 290px;
}

.content_devices img #mobile {
	z-index: 100;
	width: 190px;
}

#footer_main {
	color: #fff;
	background: #406c96; 
	border-top: #333 8px solid;
	padding: 40px 0px;
}

#footer_main h4, #footer_main  a {
	color: #fff;
}

#footer_main li {
	list-style: square;
	line-height: 2em;
}

.animate {
	-moz-transition: 1s ease-in-out;
	-webkit-transition: 1s ease-in-out;
	transition: 1s ease-in-out;

	-moz-animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;

	-moz-animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

img#showcase_imac.animate {
	-moz-transform:translate(-40em, 0);
	-webkit-transform:translate(-40em, 0);
	transform:translate(-40em, 0);
}

img#laptop.animate {
	-moz-transform:translate(12em, 0);
	-webkit-transform:translate(12em, 0);
	transform:translate(12em, 0);
}

img#mobile.animate {
	-moz-transform:translate(-8em, 0);
	-webkit-transform:translate(-8em, 0);
	transform:translate(-8em, 0);
}


@media(min-width:768px)  and (max-width:1200px) {

	.content_devices img#desktop {
		width: 293px;
	}
	.content_devices img#laptop {
		width: 235px;
	}

	.content_devices img#mobile {
		width: 148px;
	}

}

@media(max-width:768px)  {

	.content_devices img#desktop {
		width: 260px;
	}
	.content_devices img#laptop {
		display: none;
	}

	.content_devices img#mobile {
		display: none;
	}

}

@media(max-width:768px)  {

	h1 {
		font-size: 35px !important;
		text-align: center !important;	
	}

	h2 {
		font-size: 35px !important;
		text-align: center !important;
		display: block !important;
		line-height: 1.5em !important;
	}

	.content_icons i {
		margin-top: 5px;
		font-size: 3em;

	}

}

